<div
  class="flex items-center justify-center gap-2 py-2 rounded-lg relative w-28"
>
  <div
    class="absolute w-full h-full top-0 left-0 opacity-10 rounded-lg"
    [ngClass]="{
      'bg-red-1': invoice.status === 'pending',
      'bg-green-1': invoice.status === 'paid',
      'bg-yellow-1': invoice.status === 'draft'
    }"
  ></div>
  <div
    class="w-2 h-2 rounded-full z-10"
    [ngClass]="{
      'bg-red-1 text-red-1': invoice.status === 'pending',
      'bg-green-1': invoice.status === 'paid',
      'bg-yellow-1 text-yellow-1': invoice.status === 'draft'
    }"
  ></div>
  <p
    class="text-green-1 font-bold z-10"
    [ngClass]="{
      ' text-red-1': invoice.status === 'pending',
      'text-green-1': invoice.status === 'paid',
      ' text-yellow-1': invoice.status === 'draft'
    }"
  >
    {{ invoice.status }}
  </p>
</div>
