<a
  routerLink="/invoices/{{ invoice.id }}"
  class="grid grid-cols-5 max-md:grid-cols-2 place-content-center mb-5 min-h-20 p-4 lg:pl-12 shadow-lg rounded-lg bg-white dark:bg-darkblue-2 cursor-pointer hover:border-2 hover:border-purple-1"
  *ngIf="invoice"
>
  <h1 class="text-lg font-bold max-md:col-span-1">
    <span class="text-grey-3">#</span>
    <span class="text-black-1 dark:text-white">{{ invoice.id }}</span>
  </h1>
  <p class="text-grey-2 max-md:col-span-1 max-md:text-end max-md:hidden">
    {{ invoice.createdAt }}
  </p>
  <p
    class="text-grey-3 dark:text-white max-md:col-span-2 max-md:my-2 max-md:hidden"
  >
    {{ invoice.clientName }}
  </p>

  <p
    class="hidden text-grey-3 dark:text-white max-md:col-span-1 max-md:text-end max-md:block"
  >
    {{ invoice.clientName }}
  </p>
  <p
    class="hidden text-grey-2 max-md:col-span-2 max-md:tex max-md:my-2 max-md:block"
  >
    {{ invoice.createdAt }}
  </p>

  <p class="text-black-1 font-extrabold dark:text-white">
    £ {{ invoice.total | number : "1.2-2" }}
  </p>
  <div class="flex gap-8 items-center max-md:-mt-5 max-md:justify-end">
    <app-invoice-status [invoice]="invoice"></app-invoice-status>
    <button class="max-md:hidden">
      <img class="h-4" src="/assets/icon-arrow-right.svg" alt="" />
    </button>
  </div>
</a>
