<!-- invoices -->
<section
  class="grid grid-cols-5 max-md:grid-cols-2 place-content-center mb-5 min-h-20 p-4 lg:pl-12 shadow-lg rounded-lg bg-white dark:bg-darkblue-2"
>
  <!-- <div class="flex gap-14 items-center"> -->
  <h1 class="text-lg font-bold max-md:col-span-1">
    <span class="text-grey-3">#</span>
    <span class="text-black-1 dark:text-white">RT3080</span>
  </h1>
  <p class="text-grey-2 max-md:col-span-1 max-md:text-end max-md:hidden">
    Due 19 Aug 2021
  </p>
  <p
    class="text-grey-3 dark:text-white max-md:col-span-2 max-md:my-2 max-md:hidden"
  >
    Jensen Huang
  </p>

  <p
    class="hidden text-grey-3 dark:text-white max-md:col-span-1 max-md:text-end max-md:block"
  >
    Jensen Huang
  </p>
  <p
    class="hidden text-grey-2 max-md:col-span-2 max-md:tex max-md:my-2 max-md:block"
  >
    Due 19 Aug 2021
  </p>

  <!-- </div> -->
  <!-- <div class="flex gap-14 items-center"> -->
  <p class="text-black-1 font-extrabold dark:text-white">£ 1,800.90</p>
  <div class="flex gap-8 items-center max-md:-mt-5 max-md:justify-end">
    <div class="flex items-center gap-2 py-2 px-5 rounded-lg relative">
      <div
        class="absolute w-full h-full top-0 left-0 bg-green-1 opacity-10 rounded-lg"
      ></div>
      <div class="w-2 h-2 rounded-full bg-green-1 z-20"></div>
      <p class="text-green-1 font-bold z-20">Paid</p>
    </div>
    <button class="max-md:hidden">
      <img class="h-4" src="/assets/icon-arrow-right.svg" alt="" />
    </button>
  </div>
  <!-- </div> -->
</section>
