<div
  class="grid grid-cols-5 max-sm:grid-cols-2 max-md:grid-cols-4 space-x-16 max-md:space-x-0 mt-8 text-purple-3 text-lg"
  *ngFor="let item of invoice.items"
>
  <h2
    class="font-bold text-lg text-black-1 dark:text-white col-span-2 max-md:col-span-1 max-sm:hidden"
  >
    {{ item.name }}
  </h2>
  <h2
    class="hidden font-bold text-lg text-black-1 dark:text-white col-span-2 max-sm:col-span-2 max-sm:block"
  >
    {{ item.name }}
  </h2>
  <h2 class="max-sm:hidden max-sm:col-span-1">{{ item.quantity }}</h2>
  <h2 class="max-sm:col-span-1">
    <span class="hidden max-sm:inline-block">{{ item.quantity }} x</span>
    £{{ item.price }}
  </h2>
  <h2
    class="font-bold text-lg text-black-1 dark:text-white max-sm:-mt-3 max-sm:text-end"
  >
    £{{ item.total }}
  </h2>
</div>
