<section class="">
  <!-- Invoice navbar -->
  <div class="flex gap-7 items-center justify-between">
    <div class="flex flex-col gap-[1px] dark:text-white">
      <h1 class="text-xl font-extrabold">Invoices</h1>
      <p class="font-thin text-sm text-grey-3">No invoices</p>
    </div>
    <div class="flex gap-16">
      <button class="flex gap-2 items-center dark:text-white">
        <span class="font-semibold">Filter By Status</span>
        <img class="w-4 mt-[1px]" src="/assets/icon-arrow-down.svg" alt="" />
      </button>

      <button
        class="flex gap-3 items-center bg-purple-1 py-1.5 px-3 rounded-full"
      >
        <div class="w-8 h-8 rounded-full bg-white grid place-content-center">
          <img class="w-4 h-4" src="/assets/icon-plus.svg" alt="" />
        </div>
        <span class="font-semibold text-white">New Invoice</span>
      </button>
    </div>
  </div>
  <!-- invoices -->
  <section class="flex justify-between items-center">
    <div class="">

    </div>
  </section>
</section>
