<section class="transition-all duration-300 ease-in-out">
  <app-new-invoice-form [isOpen]="isOpen"></app-new-invoice-form>
  <div class="flex gap-7 items-center justify-between">
    <div class="flex flex-col gap-[1px] dark:text-white">
      <h1 class="text-lg md:text-xl font-extrabold">Invoices</h1>
      <p class="font-thin text-sm text-grey-3">
        {{
          (invoices$ | async)?.length
            ? "There are " + (invoices$ | async)?.length + " invoices"
            : "No invoices"
        }}
      </p>
    </div>
    <div class="flex gap-16 max-md:gap-4">
      <div class="relative">
        <button
          class="flex gap-2 items-center dark:text-white"
          (click)="onToggleFilter()"
          #filterButton
        >
          <div class="flex gap-1">
            <span class="font-semibold">Filter</span>
            <span class="font-semibold max-md:hidden">By Status</span>
          </div>
          <img class="w-4 mt-[1px]" src="/assets/icon-arrow-down.svg" alt="" />
        </button>
        <div
          #filterDiv
          class="absolute top-12 -left-5 w-48 bg-white dark:bg-darkblue-1 rounded-lg shadow-lg p-4"
          *ngIf="isFilterOpen"
        >
          <form>
            <label class="flex items-center space-x-3 mb-2 cursor-pointer">
              <input
                type="checkbox"
                name="pending"
                value="pending"
                class="h-4 w-4 rounded cursor-pointer"
              />
              <span class="dark:text-grey-3 text-black-1">Pending</span>
            </label>

            <label class="flex items-center space-x-3 mb-2 cursor-pointer">
              <input
                type="checkbox"
                name="paid"
                value="paid"
                class="h-4 w-4 rounded cursor-pointer"
              />
              <span class="dark:text-grey-3 text-black-1">Paid</span>
            </label>

            <label class="flex items-center space-x-3 mb-2 cursor-pointer">
              <input
                type="checkbox"
                name="draft"
                value="draft"
                class="h-4 w-4 rounded cursor-pointer"
              />
              <span class="dark:text-grey-3 text-black-1">Draft</span>
            </label>

            <!-- Add more options as needed -->
          </form>
        </div>
      </div>
      <button
        class="flex gap-3 items-center bg-purple-1 py-1.5 pl-1.5 pr-3 rounded-full"
        (click)="onToggleForm()"
      >
        <div class="w-8 h-8 rounded-full bg-white grid place-content-center">
          <img class="w-4 h-4" src="/assets/icon-plus.svg" alt="" />
        </div>
        <div class="flex gap-1">
          <span class="font-semibold text-white">New</span>
          <span class="font-semibold text-white max-md:hidden">Invoice</span>
        </div>
      </button>
    </div>
  </div>
  <div class="mt-16">
    <app-invoice-card
      *ngFor="let invoice of invoices$ | async"
      [invoice]="invoice"
    ></app-invoice-card>
  </div>
</section>
