<aside
  class="h-20 w-full lg:h-screen lg:w-20 bg-darkblue-2 lg:rounded-r-[19px] lg:pb-8 pb-0"
>
  <nav class="flex justify-between lg:flex-col h-20 lg:h-full lg:w-full">
    <div class="h-20 lg:w-full">
      <img class="object-fill h-full" src="/assets/logo.svg" alt="" />
    </div>
    <section
      class="flex lg:flex-col items-center gap-5 h-full lg:h-24 lg:w-full pr-5 lg:pr-0"
    >
      <div class="grid place-content-center">
        <button (click)="toggleDarkMode()">
          <img
            *ngIf="darkMode"
            class="w-5 h-5 transition-all duration-300 ease-in-out"
            src="/assets/icon-sun.svg"
            alt=""
          />
          <img
            *ngIf="!darkMode"
            class="w-5 h-5 transition-all duration-300 ease-in-out"
            src="/assets/icon-moon.svg"
            alt=""
          />
        </button>
      </div>
      <div class="h-full w-[1px] lg:w-full lg:h-[1px] bg-grey-3"></div>
      <div class="grid place-content-center">
        <img
          class="w-10 h-10 rounded-full"
          src="/assets/image-avatar.jpg"
          alt=""
        />
      </div>
    </section>
  </nav>
</aside>
