/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-scroll {
  scroll-behavior: smooth;
}

.custom-scroll::-webkit-scrollbar {
  @apply w-[8px] h-[10px];
}

.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-grey-3  rounded-md;
}

.custom-scroll::-webkit-scrollbar-track {
  @apply rounded-md h-[10px];
}

.input-field {
  @apply border dark:border-darkblue-2 dark:bg-darkblue-2 p-2 font-medium rounded-md border-grey-3 text-black-1 dark:text-white outline-none;
}

.danger {
  @apply text-red-1;
}
