<div class="flex flex-col gap-6 w-full py-4 pb-20 lg:pb-4">
  <div class="w-full flex gap-4 flex-col">

    <button
      (click)="toggleAddItem()"
      [ngClass]="
        isItemFormActive
          ? 'opacity-0 translate-y-10'
          : 'opacity-1 translate-y-0'
      "
      class="w-full bg-grey-1 dark:bg-darkblue-2 hover:bg-primary text-grey-3 p-3 rounded-full mt-3 scale-100 active:scale-75 duration-75"
    >
      + Add new Items
    </button>

    <!--    Add New Item Form -->
    <form
      [formGroup]="itemForm"
      (ngSubmit)="onAddItem()"
      class="grid grid-cols-1 lg:grid-cols-3 w-full gap-4 duration-300"
      [ngClass]="
        isItemFormActive
          ? 'opacity-1 scale-100 -translate-y-16'
          : 'opacity-0 translate-y-10 scale-75 '
      "
      *ngIf="isItemFormActive"
    >
      <h2 class="mt-8 text-purple-1 tex-2xl font-semibold lg:col-span-3">
        Add Item
      </h2>
      <!--  Name -->
      <div class="flex flex-col gap-1 w-full">
        <label for="name" class="font-semibold text-grey-3">Item name</label>
        <input
          id="name"
          formControlName="name"
          placeholder="UI/UX Design"
          class="border p-2 font-medium rounded-md border-grey-3 dark:border-black-2 text-black-1 dark:text-white dark:bg-darkblue-2 outline-none"
        />
        <div
          *ngIf="itemForm.get('name')?.invalid && itemForm.get('name')?.touched"
          class="text-red"
        >
          <small *ngIf="itemForm.get('name')?.errors?.['required']">
            Name is required.
          </small>
        </div>
      </div>

      <!--  Quantity -->
      <div class="flex flex-col gap-1 w-full">
        <label for="quantity" class="font-semibold text-grey-3"
          >Item quantity</label
        >
        <input
          type="number"
          id="quantity"
          formControlName="quantity"
          placeholder="2"
          class="border p-2 font-medium rounded-md border-grey-3 dark:border-black-2 text-black-1 dark:text-white dark:bg-darkblue-2 outline-none"
        />
        <div
          *ngIf="
            itemForm.get('quantity')?.invalid &&
            itemForm.get('quantity')?.touched
          "
          class="text-red"
        >
          <small *ngIf="itemForm.get('quantity')?.errors?.['required']">
            Quantity is required.
          </small>
          <small *ngIf="itemForm.get('quantity')?.errors?.['min']">
            Quantity must be at least 1.
          </small>
        </div>
      </div>

      <!--  Price -->
      <div class="flex flex-col gap-1 w-full">
        <label for="price" class="font-semibold text-grey-3">Item Price</label>
        <input
          type="number"
          id="price"
          formControlName="price"
          placeholder="0"
          class="border p-2 font-medium rounded-md border-grey-3 dark:border-black-2 text-black-1 dark:text-white dark:bg-darkblue-2 outline-none"
        />
        <div
          *ngIf="
            itemForm.get('price')?.invalid && itemForm.get('price')?.touched
          "
          class="text-red"
        >
          <small
            *ngIf="
              itemForm.get('price')?.invalid && itemForm.get('price')?.touched
            "
          >
            Price is required.
          </small>
          <small *ngIf="itemForm.get('price')?.errors?.['min']">
            Price must be at least 0.
          </small>
        </div>
      </div>

      <div class="lg:col-span-3 w-full grid grid-cols-2 gap-4">
        <button
          type="button"
          (click)="toggleAddItem()"
          class="w-full bg-grey-1 dark:bg-darkblue-2 hover:bg-red hover:text-light text-grey-3 p-3 rounded-full mt-3 scale-100 active:scale-75 duration-75"
        >
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="!itemForm.valid"
          class="w-full bg-grey-1 dark:bg-darkblue-2 hover:bg-primary hover:text-light text-grey-3 p-3 rounded-full mt-3 scale-100 active:scale-75 duration-75"
          [ngClass]="{ 'opacity-50 cursor-not-allowed': !itemForm.valid }"
        >
          + Add
        </button>
      </div>
    </form>
  </div>
</div>
